@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .compact-grid-cell {
        @apply p-2 md:px-4 md:py-3;
    }

    .name {
        @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
    }

    .fade-enter {
        @apply opacity-0 transition;
    }

    .fade-enter-active {
        @apply opacity-0 transition;
    }

    .fade-enter-done {
        @apply opacity-100 transition
    }

    .fade-exit {
        @apply opacity-100 transition
    }

    .fade-exit-active {
        @apply opacity-0 transition
    }

    .fade-exit-done {
        @apply opacity-0 transition
    }

    .custom-team-gradient {
        background-image: linear-gradient(130deg, #1E40AF 0%, #3B82F6 49.999%, #EF4444 50%, #B91C1C 100%);
    }

    .legend {
        @apply relative bg-gradient-to-r from-blue-400 to-red-500 via-yellow-300 animate-gradient-xy;
        @apply after:bg-king after:absolute after:left-0 after:top-0 after:w-full after:h-full after:bg-center;
        @apply after:bg-cover after:opacity-50 after:pointer-events-none;
    }

    .clown {
        @apply relative after:bg-clown after:absolute after:left-0 after:top-0 after:w-full after:h-full;
        @apply after:bg-center after:bg-cover after:opacity-50 after:pointer-events-none;
    }

    .shine {
        @apply overflow-hidden relative after:animate-shine after:absolute after:opacity-0 after:pointer-events-none;
    }

    .shine::after {
        top: -200%;
        left: -200%;
        width: 200%;
        height: 2000%;

        background: rgba(255, 255, 255, 0.2);
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.2) 0%,
                rgba(255, 255, 255, 0.2) 77%,
                rgba(255, 255, 255, 0.7) 92%,
                rgba(255, 255, 255, 0.0) 100%
        );
    }
}
